@import './base.css';

#app {
  height: 100vh;
}

main,
.--h100 {
  height: 100%;
}

.container {
  display: flex;
  width: 90%;
  margin: auto;
  gap: 2rem;
}

.--justfy {
  justify-content: space-between;
}

.b-client {
  padding: 1rem;
  border: #000 solid 1px;
}

.item-big {
  font-size: 4rem;
  padding: 2rem !important;
}